{{define "keyboard"}}
    <input type="hidden" id="current-word" name="word" value=""
        hx-get="/check-word"
        >

    <div class="word-display">
        <!-- Each letter in the word will be represented here -->
         {{range .Blanks}}
            <div class="letter-slot"></div>
         {{end}}
    </div>

    <!-- Keyboard layout -->
    <div class="keyboard-container">
        {{range .Keyboard}}
        <div class="keyboard-row">
            {{range .}}
                <div class="key" hx-on:click="handleKeyClick(event)">{{.}}</div>
            {{end}}
        </div>
        {{end}}
        <div class="keyboard-row">
            <div class="key wide-key"
                hx-get="/keyboard"
                hx-swap="innerHTML"
                hx-target="#keys-letters-container">CLEAR</div>
        </div>
    </div>
  
{{end}}
